
body {
  background-color: #222831;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #eeeeee;
  background-color: #00adb5;
}
